#skills {
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

h2 {
  font-family: Kusanagi;
  align-self: flex-start;
  color: var(--cinza-esverdeado);
  align-self:center;
  margin-bottom: 30px;
  width: 150px;
  padding: 12px;
  background: rgba( 200, 144, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h5 {
  font-size: 10px;
  font-family:  Kusanagi, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  color: var(--cinza-esverdeado);
  text-transform: uppercase;
}

.card-skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  gap: 50px;


  .card-skill {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    gap: 8px;
    max-width: 120px;
    width: 25%;
    border-radius: 8px;
    box-shadow: 0 0 4px black;
    padding: 8px;
    background: rgba( 144, 19, 254, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    img {
      width: 100%;
    }
  }
}
}