#sobre {
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
  
 

  .content {
    position: relative;
    
    
    .backgroundFoto {
      background-image: url("../imgs/planeta.png");
      
    }
  
    .Foto {
      width: 250px;
      height: 250px;      
      border-radius: 50%;
      background-color: var(--roxo);
      background-image: url("../imgs/Domingos-Jr-r.png");
      background-size: cover;
      background-position: center;
        
    }

  }
  .texto-sobre {
    h2 {
      font-family: Kusanagi;
      margin-bottom: 30px;
      width: 100%;
      font-size: 23.5px;
      word-spacing: 15px;
      letter-spacing: 1.6px;
      align-items: center;
      display: flex;
      justify-content: center;     
    }
      font-family: Kusanagi, Helvetica, sans-serif;
      justify-content:center;
      text-transform: uppercase;
      font-size: 12px;
      word-spacing: 1px;
      letter-spacing: 1.5px;
      line-height: 30px; 
      text-align: justify;
      width: 700px;
      padding: 40px 60px 40px 70px;
      border-radius: 16px;
      background: rgba(77, 13, 141, 0.2);
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 2px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );     
  }
}